html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1{
    background-image:url(img/p1.png) ;
    min-height: 100%;   
}

.pimg2{
    background-image: url(img/p2.png);
    min-height: 400px;
}

.pimg3{
    background-image: url(img/p3.png);
    min-height: 400px;
}

.pimg1,
.pimg2,
.pimg3{

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.textBg{
    background-color: #666;
    padding: 20px;
    border-radius: 5px;
}
 .section1{
    padding: 25px;
    text-align: center;
    text-align: justify;
 }
 .sectionlight{
    background-color: #302e2e;
    color: black;
 }

 .sectiondark{
    background-color: #302e2e;
    color: black;
 }

 .sectionlight1{
    background-color: #302e2e;
    color: black;
 }


